<div class="container p35" id="">
  <div class="row">
    <div class="col-md-12 text-center heading h1 pb10 transition-text">
      <span class="text-uppercase" translate>press_press</span>
    </div>
  </div>
</div>

<div class="container p35">

  <div *ngFor="let release of pressReleases | async | filterArray:order:ascending; odd as isOdd; even as isEven">

    <div *ngIf="isEven" class="row p35 justify-content-center">
      <div class="col-10 text-center press-title-container">
        <div class="col-lg-12 heading h3 text-uppercase">{{release.source}}</div>
        <div class="col-lg-12 h4 pb10">{{release.date}}</div>
      </div>

      <div class="col-12">
        <img src="{{release.src}}" class="img-responsive driver-img" alt="Responsive image">
      </div>
    </div>

    <div *ngIf="isOdd" class="row p35 justify-content-center">
      <div class="col-10 text-center press-title-container">
        <div class="col-lg-12 heading h3 text-uppercase">{{release.source}}</div>
        <div class="col-lg-12 h4 pb10">{{release.date}}</div>
      </div>

      <div class="col-12">
        <img src="{{release.src}}" class="img-responsive driver-img" alt="Responsive image">
      </div>
    </div>

  </div>

</div>
