<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center heading h1 pb10">FEEDER RAGNAR SIMULATOR</div>
      <div class="col-md-6 offset-md-3 text-center pb10 team-desc" translate style="white-space: pre-line">
        about_description
      </div>
      <div class="col-md-6 offset-md-3 text-center">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFEEDERSportPoland%2F&width=205&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId=209775252466510" width="205" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>

</div>
