<div class="container p35">
  <div class="row">
    <div class="col-md-12 text-center heading h1 pb10 transition-text">
      <span class="text-uppercase" translate>contact_contact</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 p35 text-center" translate>contact_information</div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 p35 text-center heading" translate>ADMOCARSKI@GMAIL.COM</div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-md-6 offset-md-3 text-center">-->

      <!--<form #form="ngForm" (ngSubmit)="sendEmail(form.value, $event)">-->
        <!--<div class="messages"></div>-->

        <!--<div class="controls">-->

          <!--<div class="row">-->
            <!--<div class="col-md-6">-->
              <!--<div class="form-group">-->
                <!--<label for="form_name" translate>contact_name</label>-->
                <!--<input id="form_name"-->
                       <!--[(ngModel)]="form.name"-->
                       <!--#name="ngModel"-->
                       <!--type="text"-->
                       <!--name="name"-->
                       <!--class="form-control"-->
                       <!--placeholder="{{'contact_placeholder_name' | translate}}"-->
                       <!--required="required"-->
                       <!--data-error="Pole wymagane.">-->
                <!--<div class="help-block with-errors"></div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div class="form-group">-->
                <!--<label for="form_email" translate>contact_email</label>-->
                <!--<input id="form_email"-->
                       <!--[(ngModel)]="form.email"-->
                       <!--#email="ngModel"-->
                       <!--type="email"-->
                       <!--name="email"-->
                       <!--class="form-control"-->
                       <!--placeholder="{{'contact_placeholder_email' | translate}}"-->
                       <!--required="required"-->
                       <!--data-error="Poprawny email jest wymagany.">-->
                <!--<div class="help-block with-errors"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="form-group">-->
                <!--<label for="title" translate>contact_topic</label>-->
                <!--<input id="title"-->
                       <!--[(ngModel)]="form.title"-->
                       <!--#title="ngModel"-->
                       <!--type="text"-->
                       <!--name="title"-->
                       <!--class="form-control"-->
                       <!--placeholder="{{'contact_placeholder_title' | translate}}"-->
                       <!--required="required"-->
                       <!--data-error="Pole wymagane.">-->
                <!--<div class="help-block with-errors"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<div class="form-group">-->
                <!--<label for="form_message" translate>contact_message</label>-->
                <!--<textarea id="form_message"-->
                          <!--[(ngModel)]="form.message"-->
                          <!--#message="ngModel"-->
                          <!--name="message"-->
                          <!--class="form-control"-->
                          <!--placeholder="{{'contact_placeholder_message' | translate}}"-->
                          <!--rows="4"-->
                          <!--required="required"-->
                          <!--data-error="Pole wymagane."></textarea>-->
                <!--<div class="help-block with-errors"></div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-12">-->
              <!--<input type="submit" class="btn btn-send" value="{{'contact_send' | translate}}">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->

    <!--</div>-->
  <!--</div>-->

</div>

<!--<script src="contact.js"></script>-->
