<router-outlet></router-outlet>

<footer class="container p35 text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 text-uppercase font-weight-bold" translate>main_sponsor</div>
      <div class="col-md-12">
        <a href="http://ragnarsimulator.com">
          <img class="ragnar-logo img-responsive center-block" src="../assets/ragnar.png">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 text-uppercase font-weight-bold" translate>partners</div>
      <div class="row">
        <div class="col-md-6">
          <a href="https://swiatwyscigow.pl">
            <img class="secondary-logo img-responsive center-block" src="../assets/sw.png">
          </a>
        </div>
        <div class="col-md-6">
          <a href="http://rallyandrace.pl">
            <img class="secondary-logo img-responsive center-block" src="../assets/rar.png">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 font-weight-bold">© FEEDER Ragnar Simulator | Mocarski</div>
  </div>
</footer>
