<div class="container p35" id="">
  <div class="row">
    <div class="col-md-12 text-center heading h1 pb10 transition-text">
      <span class="text-uppercase" translate>calendar_race_calendar</span>
    </div>
  </div>
</div>

<div class="container p35">
  <div class="row">
    <div class="col-md-12">

        <app-loader [isLoading]="isLoading"></app-loader>

      <table class="table table-striped">
        <thead>
          <tr class="text-uppercase">
            <th translate>calendar_date</th>
            <th translate>calendar_series</th>
            <th translate>calendar_length</th>
            <th translate>calendar_location</th>
            <th translate>calendar_sim</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let race of races">
                <th>{{race.date}}</th>
                <th>{{race.series}}</th>
                <th>{{race.length}}</th>
                <th>{{race.location}}</th>
                <th>{{race.sim}}</th>
            </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
