<div class="container p35" id="">
  <div class="row">
    <div class="col-md-12 text-center heading h1 pb10 transition-text">
      <span class="text-uppercase" translate>calendar_race_calendar</span>
    </div>
  </div>
</div>

<div class="container p35">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-striped">
        <thead>
          <tr class="text-uppercase">
            <th translate>calendar_date</th>
            <th translate>calendar_length</th>
            <th translate>calendar_location</th>
            <th translate>calendar_series</th>
          </tr>
        </thead>
        <tbody>

        <tr><th>26.08.2017</th><th>6H</th><th>Road America</th><th>RDLMS</th></tr>
        <tr><th>3.09.2017</th><th>-</th><th>Sonoma</th><th>FIA WTCC RaceRoom</th></tr>
        <tr><th>7.10.2017</th><th>12H</th><th>Fuji</th><th>RDLMS</th></tr>
        <tr><th>7.10.2017</th><th>1000 miles</th><th>Indianapolis</th><th>VEC</th></tr>
        <tr><th>8.10.2017</th><th>-</th><th>Szanghaj</th><th>FIA WTCC RaceRoom</th></tr>
        <tr><th>22.10.2017</th><th>-</th><th>Suzuka</th><th>FIA WTCC RaceRoom</th></tr>
        <tr><th>4.11.2017</th><th>6H</th><th>Fuji</th><th>VEC</th></tr>
        <tr><th>12.11.2017</th><th>-</th><th>Macau</th><th>FIA WTCC RaceRoom</th></tr>
        <tr><th>18.11.2017</th><th>6H</th><th>Sebring</th><th>RDLMS</th></tr>
        <tr><th>2.12.2017</th><th>12H</th><th>Istanbul</th><th>VEC</th></tr>
        <tr><th>13.01.2018</th><th>8H</th><th>Suzuka</th><th>VEC</th></tr>
        <tr><th>10.02.2018</th><th>6H</th><th>Interlagos</th><th>VEC</th></tr>
        <tr><th>10.03.2018</th><th>12H</th><th>Sebring</th><th>VEC</th></tr>
        <tr><th>7.04.2018</th><th>8H</th><th>Silverstone</th><th>VEC</th></tr>
        <tr><th>2-3.06.2018</th><th>24H</th><th>Le Mans</th><th>VEC</th></tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
